@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto&display=swap');

body {
  font-family: 'Roboto', 'Noto Sans JP';
  background: #111;
  color: #efefef;
  margin: 0
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh
}